body {
	margin: 0;
	padding: 0;
}

#buttons {
	margin: 0;
	position: absolute;
}

#info {
	margin: 5px;
	padding: 5px;
	border: white solid 2px;
	color: white;
	position: absolute;
	right: 0px;
	max-width: 30%;
	display: none;
}

button {
	background-color: black;
	border: white solid 1px;
	margin: 5px;
	padding: 2px 5px;
	color: white;
	min-width: 100px;
}